/* contacts */
.map{
	display: none;
	@media screen and (min-width: 768px){
		display: block;
	}
	&__layout{
		height: 400px;
		width: 100%;
	}
}
.contacts{
	padding: 20px 0 0;
	@media screen and (min-width: 768px){
		padding: 20px 65px;
	}
	@media screen and (min-width: 960px){
		padding: 20px 15px;
	}
	&__row{
		margin-bottom: 30px;
	}
	&__title{
		font-family: RalewayMedium;
		margin-bottom: 20px;
		color: black;
	}
	&__adress{
		margin-bottom: 20px;
		@media screen and (min-width: 960px){
			margin-bottom: 0;
		}
		p{}
	}
	form{
		max-width: 380px;
		@media screen and (min-width: 768px){
			max-width: none;
		}
	}
	&__input{
		font-size: 12px;
		width: 100%;
		margin-bottom: 12px;
		&:last-child{
			@media screen and (min-width: 768px){
				margin-bottom: 0;
			}
		}
	}
	&__message{
		font-size: 0;
		textarea{
			width: 100%;
			min-width: 100%;
			max-width: 100%;
			height: 60px;
			min-height: 60px;
			max-height: 150px;
			font-size: 12px;
		}
	}
	&__form-submit{
		@include btn-clicker(#fe9004);
		position: absolute;
		bottom: 1px;
		right: 27px;
		padding: 5px 9px;
		border: none;
		background: white;
		color: #fe9004;
		&:hover{
			color: white;
		}
		&:before{
			content: '\f1d8';
			font-family: FontAwesome;
			font-size: 14px;
		}
	}
	&__item{
		margin-bottom: 50px;
		@media screen and (min-width: 960px){
			margin-bottom: 0;
		}
		&-descr{
			position: relative;
			margin-bottom: 20px;
			padding-left: 50px;
			&:before{
				content: '';
				display: inline-block;
				// @extend %sprite-pseudo;
				// @extend %sprite;
				position: absolute;
				left: 0;
				top: 0;
				// background-size: 44px auto;
			}
			&.adr:before{
				@include sprite($point-i-s);
				// transform: scale(0.7);
				// width: 26px;
				// height: 36px;
				// background-position: 0px -277px;
				margin-left: 5px;
			}
			&.mail:before{
				@include sprite($mail-i-s);
				// transform: scale(0.7);
				// width: 40px;
				// height: 25px;
				// background-position: 0px -228px;
			}
			&.tel:before{
				@include sprite($phone-i-s);
				// transform: scale(0.7);
				// width: 33px;
				// height: 26px;
				// background-position: 2px -254px;
			}
		}
	}
}
/* .contacts */