/* copycenter */
.services{
	padding: 20px 0;
	font-size: 0;
	@media screen and (min-width: 768px){
		padding: 40px 10px;
	}
}
.s-item{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 270px;
	font-size: 14px;
	vertical-align: top;
	padding: 0 15px;
	transition: height 0.2s;
	@media screen and (min-width: 480px){
		height: 320px;
	}
	@media screen and (min-width: 640px){
		width: 50%;
		height: 270px;
	}
	@media screen and (min-width: 960px){
		font-size: 16px;
		width: 25%;
		height: 220px;
	}
	@media screen and (min-width: 1200px){
		height: 270px;
	}
	&:nth-child(2n){
		.s-item__info{
			@media screen and (min-width: 640px) and (max-width: 959px){
				margin-left: -100%;
			}
		}
	}
	&:nth-child(4n+2){
		.s-item__info{
			@media screen and (min-width: 960px){
				margin-left: -100%;
			}
		}
	}
	&:nth-child(4n+3){
		.s-item__info{
			@media screen and (min-width: 960px){
				margin-left: -200%;
			}
		}
	}
	&:nth-child(4n+4){
		.s-item__info{
			@media screen and (min-width: 960px){
				margin-left: -300%;
			}
		}
	}

	&__view{
		display: block;
		text-decoration: none;
		&:after{
			content: '';
			position: absolute;
			top: 100%;
			right: 50%;
			margin: -10px -19px 0 0;
			opacity: 0;
			transition: opacity 0s;

			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 19px 10px 19px;
			border-color: transparent transparent #343434 transparent;
		}
		&.active{
			position: relative;
			z-index: 1;
			&:after{
				opacity: 1;
				transition: opacity 0.2s 0.6s;
			}
		}
	}
	&__img-wrap{
		@extend %white-hover;
		position: relative;
		height: 210px;
		overflow: hidden;
		cursor: pointer;
		@media screen and (min-width: 480px){
			height: 270px;
		}
		@media screen and (min-width: 640px){
			height: 210px;
		}
		@media screen and (min-width: 960px){
			height: 160px;
		}
		@media screen and (min-width: 1200px){
			height: 210px;
		}
		&:after{
			content: '\f05a';
			font-size: 24px;
		}
		img{
			width: 100%;
		}
	}
	&__title{
		padding: 20px 0;
		text-align: center;
		font-family: RalewayMedium;
		color: $textColor;
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.2s;
		&:hover{
			color: orange;
		}
	}
	&__info{
		position: absolute;
		left: 0;
		padding: 0 20px;
		box-sizing: content-box;
		height: 250px;

		background: url('../images/png/bg-b.png') repeat;
		box-shadow: inset 0 0 10px rgba(black, 0.8);
		transition: height 0.2s;
		overflow: hidden;
		@media screen and (min-width: 640px){
			left: -20px;
			width: 200%;
		}
		@media screen and (min-width: 960px){
			width: 400%;
		}
		&.invis{
			height: 0 !important;
		}
		&-inner{
			@include clearfix;
			position: relative;
			color: white;
		}
		&-close{
			position: absolute;
			right: -10px;
			top: 5px;
			text-decoration: none;
			width: 30px;
			height: 30px;
			opacity: 0.6;
			transition: all 0.2s;
			@media screen and (min-width: 640px){
				right: 20px;
				
			}
			&:hover{
				opacity: 1;
				&:before{
					transform: scale(1.2) rotate(45deg);
				}
				&:after{
					transform: scale(1.2) rotate(-45deg);
				}
			}
			&:before, &:after{
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				content: '';
				margin: auto;
				display: block;
				height: 2px;
				width: 50%;
				background: white;
				transition: all 0.2s;
			}
			&:before{
				transform: rotate(45deg);
			}
			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	&__col{
		padding: 0 15px;
		margin: 30px 0;
		@media screen and (min-width: 768px){
			padding: 40px 15px;
			margin: 0;
			float: left;
		}
		&:nth-of-type(1){
			@media screen and (min-width: 768px){
				width: 40%;
			}
		}
		&:nth-of-type(2){
			@media screen and (min-width: 768px){
				width: 60%;
			}
		}
	}
	&__table{
		width: 100%;
		text-align: center;
		tr{
			border-bottom: 1px solid white;
		}
		td{
			padding: 5px;
			&:first-child{text-align: left;}
		}
	}
	&__descr{
		@media screen and (min-width: 960px){
			padding-left: 20px;
		}
	}
}
/* .copycenter */