@charset "UTF-8";
/* index */
.print-info{
	@extend %gradient;
	color: white;
	display: none;
	@media screen and (min-width: 960px){
		display: block;
	}
	&__step{
		position: relative;
		float: left;
		width: 25%;
		padding-left: 10px;
		padding-right: 10px;
		height: 100px;
		&:after{
			@include sprite($arrows);
			content: '';
			display: inline-block;
			position: absolute;
			right: -10px;
			top: 0;
		}
		&:last-child{
			&:after{display: none;}
		}
		&:hover{
			.print-info__text{
				text-shadow: -1px 1px 3px white;
			}
		}
	}
	&__num{
		height: 100%;
		font-size: 90px;
		line-height: 90px;
		opacity: 0.6;
		float: left;
		margin-right: 10px;
	}
	&__text{
		display: block;
		margin-top: 25px;
		font-family: RalewayLight;
		transition: all 0.2s;
		font-size: 18px;
		@media screen and (min-width: 1280px){
			font-size: 22px;
		}
	}
}
.preview-text{
	text-align: center;
	margin-bottom: 30px;
	&__title{
		margin: 15px 0;
		font-family: RalewayMedium;
		text-transform: uppercase;
		@media screen and (min-width: 640px){
			margin: 30px 0 15px;
		}
	}
	&__text{}
}
.sections{
	@include clearfix;
	font-size: 0;
	@media screen and (min-width: 640px){
		margin-left: -20px;
		margin-right: -20px;
	}
	@media screen and (min-width: 960px){
		margin: 0 0 40px;
	}
	&__item{
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-bottom: 30px;
		@media screen and (min-width: 640px){
			width: 50%;
			padding-left: 20px;
			padding-right: 20px;
		}
		@media screen and (min-width: 960px){
			width: 25%;
			margin-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	&__view{
		position: relative;
		display: block;
		max-height: 245px;
		overflow: hidden;
		margin-bottom: 10px;
		@media screen and (min-width: 768px){
			margin-bottom: 15px;
		}
		@media screen and (min-width: 960px){
			margin-bottom: 30px;
		}
		&:hover{
			&:before{
				opacity: 1;
				background-size: 53px;
			}
			&:after{
				color: white;
				transition: color 0.2s 0.2s;
			}
			img{
				transform: scale(1.1);
			}
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition:
			opacity 0.3s
			,background-size 0.2s
			;
			background: rgba(#fe9004, 0.7) url('../images/png/img-i.png') no-repeat center/ 0;
		}
		&:after{
			content: 'Читать далее...';
			display: block;
			text-align: center;
			height: 20px;
			width: 100%;
			position: absolute;
			z-index: 2;
			bottom: 25%;
			font-size: 22px;
			color: transparent;
			transition: color 0.2s;
		}
		img{
			width: 100%;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
	}
	&__dl{
		text-align: center;
		font-size: 14px;
		@media screen and (min-width: 768px){
			font-size: 16px;
		}
	}
	&__title{
		font-family: RalewayMedium;
		text-transform: uppercase;
		margin-bottom: 10px;
		a{
			color: inherit;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__descr{}
}

.adds{
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 50px;
	
	&:before, &:after{
		@extend %gradient;
		position: absolute;
		left: 0;
		content: '';
		height: 2px;
		width: 100%;
	}
	&:before{ margin-top: -2px; }
	&:after{ margin-bottom: -2px; }
	&__slider{
		height: 100%;
		padding: 20px 0;
		@media screen and (min-width: 768px){
			padding: 0;
		}
	}
	&__slide{
		@media screen and (min-width: 640px){
			font-size: 0;
		}
	}
	&__info{
		vertical-align: top;
		text-align: center;
		margin-bottom: 20px;
		@media screen and (min-width: 640px){
			font-size: 14px;
			display: inline-block;
			width: 33.3333%;
		}
		@media screen and (min-width: 768px){
			font-size: 16px;
			margin-bottom: 35px;
		}
	}
	&__icon{
		display: inline-block;
		height: 40px;
		width: 42px;
		line-height: 38px;
		margin: 5px 0 20px;
		@media screen and (min-width: 768px){
			margin: 20px 0;
		}
		&_img{
			&_phone:before{
				@include sprite($phone-i);
				// @extend %sprite-phone-i;
			}
			&_adr:before{
				@include sprite($point-i);
				// @extend %sprite-point-i;
			}
			&_mail:before{
				@include sprite($mail-i);
				// @extend %sprite-mail-i;
			}
		}
		&:before{
			content: '';
			display: inline-block;
			// @extend %sprite-pseudo;
			// @extend %sprite;
		}
	}
	&__dl{}
	&__title{
		text-transform: uppercase;
	}
	&__descr{
		
	}
}
.slider-1{
	.slick{
		&-dots{
			bottom: 0;
			li{
				height: 15px;
				width: 15px;
				button{
					height: 15px;
					width: 15px;
					border-radius: 50%;
					border: 1px solid #d39544;
					padding: 0;
					text-align: center;
					&:before{
						display: inline-block;
						position: static;
						height: 100%;
						width: 100%;
						color: #d39544;
						line-height: 15px;
						font-size: 11px;
						opacity: 0;

					}
					&:hover{
						&:before{
							opacity: 0.2;
						}
					}
				}
				&.slick-active{
					button:before{
						opacity: 1;
					}
				}
			}
		}
	}
	&.owl-theme{
		.owl-controls{
			margin: 0;
		}
		.owl-dots{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			font-size: 0;
			.owl-dot{
				span{
					position: relative;
					height: 16px;
					width: 16px;
					margin: 0 7px 10px;
					background: none;
					border: 1px solid #d39544;
					text-align: center;
					&:before{
						content: '';
						display: block;
						position: absolute;
						height: 12px;
						width: 12px;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						margin: auto;
						border-radius: 50%;
						background: #d39544;
						opacity: 0;
					}
					&:hover{
						&:before{
							opacity: 0.2;
						}
					}
				}
				&.active{
					span{
						&:before{
							opacity: 1;
							transform: scale(0);
							transition: transform 12s;
						}
					}
				}
				&.stay-active{
					span{
						&:before{
							transform: scale(1) !important;
							transition: transform 0s;
						}
					}
				}
			}
		}
	}
}
.photos{
	margin-bottom: 30px;
	@media screen and (min-width: 960px){
		padding: 0 15px;
	}
	&__slider{}
	&__item{
		height: 200px;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}
.slider-2{
	&.owl-theme{
		.owl-controls{
			margin: 0;
			.owl-nav{
				.owl-prev, .owl-next{
					@include btn-clicker($orange);
					position: absolute;
					z-index: 1;
					top: 50%;
					margin: 0;
					width: 28px;
					height: 120px;
					margin-top: -60px;
					font-size: 0;
					border-radius: 0;
					background: $orange;
					line-height: 108px;
					&:before{
						@extend %sprite-pseudo;
						@extend %sprite;
					}
				}
				.owl-prev{
					left: 0;
					&:before{
						@extend %sprite-arrow-l;
					}
				}
				.owl-next{
					right: 0;
					&:before{
						@extend %sprite-arrow-r;
					}
				}
			}
		}
	}
}
/* .index */