/* layout */
body{
	background: url('../images/png/bg2.png') repeat;
	@media screen and (min-width: 960px){
		background-attachment: fixed;
	}
}
%expand{
	margin-left: -10px;
	margin-right: -10px;
}
.wrap-site{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.container{
	@media screen and (min-width: 1280px){
		width: 1280px;
	}
}
.container-fluid{
	@media screen and (min-width: 768px){
		padding-left: 15px;
		padding-right: 15px;
	}
	@media screen and (min-width: 960px){
		padding-left: 10px;
		padding-right: 10px;
	}
}
.header{
	&__row{
		@include clearfix;
		padding-top: 10px;
		padding-bottom: 5px;
		position: relative;
		@at-root{
			.logo{
				width: 85px;
				@media screen and (min-width: 320px){
					display: inline-block;
				}
				@media screen and (min-width: 480px){
					width: 100px;
				}
				@media screen and (min-width: 1200px){
					width: auto;
					float: left;
				}
				a{
					@include link-clicker;
				}
				img{
					width: 100%;
				}
			}
			.top-widget{
				float: right;
				position: relative;
				margin-top: 10px;
				@media screen and (min-width: 1200px){
					margin: 0 0 22px;
				}
				&__login, &__cart{
					@include link-clicker;
					display: inline-block;
					vertical-align: top;
					height: 30px;
					width: 30px;
					text-align: center;
					transition: opacity 0.2s;
					&:hover{
						@media screen and (min-width: 1200px){
							opacity: 0.8;
						}
					}
				}
				&__login{
					&:before{
						@include sprite($login-i);
						content: '';
						display: inline-block;
					}
					&.active{
						&:before{
							font-family: FontAwesome;
							font-size: 34px;
							content: '\f00d';
							background: none;
							color: $textColor;
							width: 100%;
							height: 100%;
							margin-top: -4px;
						}
					}
				}
				&__cart{
					margin-left: 18px;
					&:before{
						@include sprite($cart-i);
						content: '';
						display: inline-block;
					}
				}
			}
			.login-widget{
				@extend %pointer;
				display: none;
				position: absolute;
				z-index: 10;
				top: 100%;
				right: 0;
				width: 100%;
				padding: 25px 30px;

				border-top: 2px solid #df6b0b;
				background: white;
				box-shadow: 0 6px 10px rgba(black, 0.3);
				@media screen and (min-width: 480px){
					padding: 30px 30px 15px;
					font-size: 12px;
					right: 5px;
					width: 240px;
				}
				@media screen and (min-width: 1200px){
					top: 50px;
				}
				&:before, &:after{
					right: 120px;
					@media screen and (min-width: 480px){
						right: 115px;
					}
					@media screen and (min-width: 1200px){
						right: 60px;
					}
				}
				&__title{
					font-size: 14px;
					margin-bottom: 15px;
					@media screen and (min-width: 480px){
						margin-bottom: 10px;
					}
				}
				&__label{
					display: block;
					position: relative;
					border: 1px solid  #7f7f7f;
					margin-bottom: 20px;
					padding-left: 30px;
					@media screen and (min-width: 480px){
						padding-left: 20px;
						margin-bottom: 10px;
					}
					&.login, &.pass{
						&:before{
							position: absolute;
							left: 5px;
							top: 4px;
							font-family: FontAwesome;
							display: inline-block;
							color: #7f7f7f;
							font-size: 18px;
							@media screen and (min-width: 480px){
								font-size: inherit;
							}
						}
					}
					&.login{
						&:before{
							content: '\f007';
						}
					}
					&.pass{
						&:before{
							content: '\f084';
						}
					}
				}
				&__input{
					width: 100%;
					border: none;
					padding: 7px 20px 7px 0;
					@media screen and (min-width: 480px){
						padding: 3px 10px 3px 0;
					}
				}
				&__btn{
					@include btn-clicker(#f4a33c);
					@include link-clicker;
					background: #f4a33c;
					color: white;
					border: none;
					padding: 7px 25px;
					@media screen and (min-width: 480px){
						padding: 3px 15px;
					}
				}
				&__reg{
					@include link-clicker;
					text-decoration: none;
					color: $textColor;
					margin-left: 10px;
					@media screen and (min-width: 480px){
						margin-left: 5px;
					}
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.nav-trigger{
				float: right;
				display: block;
				text-decoration: none;
				color: $textColor;
				margin: 6px 0 0 25px;
				height: 30px;
				width: 30px;
				@media screen and (min-width: 1200px){
					display: none;
				}
				&:before{
					content: '\f0c9';
					font-family: FontAwesome;
					font-size: 34px;
				}
				&.active{
					&:before{
						content: '\f00d';
					}
				}
			}
			.top-nav{
				@extend %pointer;
				display: none;
				position: absolute;
				z-index: 10;
				top: 100%;
				right: 0;
				width: 100%;
				background: white;
				box-shadow: 0 6px 10px rgba(black, 0.3);
				@media screen and (min-width: 480px){
					width: 240px;
					right: 5px;
				}
				@media screen and (min-width: 1200px){
					box-shadow: none;
					border: none;
					background: none;
					position: static;
					width: auto;
					clear: right;
					display: block !important;
				}
				&:before, &:after{
					right: 18px;
					@media screen and (min-width: 480px){
						right: 13px;
					}
				}
				&__list{
					font-size: 0;
					padding: 30px 30px 15px;
					@media screen and (min-width: 1200px){
						text-align: right;
						padding: 0;
					}
				}
				&__item{
					list-style: none;
					font-size: 16px;
					@media screen and (min-width: 1200px){
						display: inline-block;
						margin-left: 25px;
						transition: transform 0.1s;
					}
					&:hover{
						@media screen and (min-width: 1200px){
							transform: scale(1.2);
							color: black;
						}
					}
					&:first-child{margin-left: 0;}
					a{
						@include link-clicker;
						color: $textColor;
						text-decoration: none;
						padding: 5px 0;
						display: inline-block;
						@media screen and (min-width: 1200px){
							padding: 0;
						}
						&:hover{
							text-decoration: underline;
							@media screen and (min-width: 1200px){
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}
.content-wrap{
	@extend .container;
	padding: 0;
}
.footer{
	margin-top: 15px;
	&__inner-wrap{
		padding-top: 20px;
		padding-bottom: 35px;
		position: relative;
		&:before{
			@extend %gradient;
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 100%;
			height: 15px;
			width: 100%;
		}
	}
	&__info-text{
		margin-bottom: 20px;
		@media screen and (min-width: 960){
			margin-bottom: 0;
		}
		p{}
	}

	@at-root{
		.social{
			@media screen and (min-width: 960px){
				text-align: center;
			}
			@media screen and (min-width: 1200px){
				text-align: right;
			}
			&__link{
				@include link-clicker;
				display: inline-block;
				vertical-align: top;
				margin-right: 10px;
				transition: all 0.2s;
				&:hover{
					background: #FFD298;
				}
				&:before{
					content: '';
					display: block;
				}
				&_i{
					&_fb:before{
						@include sprite($soc-1);
					}
					&_tw:before{
						@include sprite($soc-2);
					}
					&_vk:before{
						@include sprite($soc-3);
					}
					&_ok:before{
						@include sprite($soc-4);
					}
				}
			}
		}
	}
}
/* .layout */