/* polk */
.croppie-container{
	padding: 0;
	.cr-slider-wrap {
		margin-top: 5px;
	}
	.cr-viewport {
		border-color: $textColor;
		box-shadow: 0 0 0 899px rgba(white, 0.5);
	}
}
.photoprint{
	@include clearfix;
	padding: 10px 30px 150px;
	&__sidebar{
		min-height: 1px;
		float: right;
		width: 275px;
	}
	&__content{
		position: relative;
		float: right;
		padding-right: 130px;
	}
}
.sidebar{
	&__section{
		margin-bottom: 20px;
		&.note{
			font-family: RalewayMedium;
		}
		&-title{
			margin-bottom: 20px;
			font-family: RalewayMedium;
			text-transform: uppercase;
		}
		&-content{
			p{
				margin-bottom: 10px;
			}
		}
	}
	&__icon{
		&-note,
		&-cog{
			margin-right: 1em;
			&:before{
				content: '';
				display: inline-block;
				vertical-align: bottom;
			}
		}
		&-note{
			&:before{
				@include sprite($warning);
			}
		}
		&-cog{
			&:before{
				@include sprite($cog);
			}
		}
	}
	&__input{
		width: 100%;
		margin-bottom: 20px;
		padding: 3px 5px;
		font-size: 12px;
		border: 1px solid $textColor;
		color: inherit;
		&::-webkit-input-placeholder{ color: $textColor; }
		&::-moz-placeholder{ color: $textColor; }
		&:-moz-placeholder{ color: $textColor; }
		&:-ms-input-placeholder{ color: $textColor; }
	}
	&__checkbox{
		margin-bottom: 20px;
	}
	&__btn{
		@include link-clicker;
		@include btn-clicker($textColor);
		display: inline-block;
		width: 100%;
		padding: 5px;
		margin-bottom: 20px;
		background-color: $textColor;
		border: none;
		color: #ebebeb;
		text-align: center;
		font-size: 12px;
		text-decoration: none;
	}
}
.pillar{
	position: relative;
	width: 560px;
	height: 840px;
	background-color: #ffeccd;
	&_type{
		&_photo{}
		&_text{
			display: none;
		}
	}
	&__text{
		margin-top: 10px;
		color: $darkRed;
		font-family: PTSans;
		font-style: italic;
		text-align: center;
		line-height: 1.1;
	}
	&__name{
		font-weight: bold;
		font-size: 33px;
	}
	&__rank,
	&__years{
		font-size: 28px;
	}
	&__rank{}
	&__years{}
	&__logo{
		position: absolute;
		bottom: 0;
		left: 0;right: 0;
		margin: auto;
		width: 224px;
		height: 53px;
		background: url('../images/png/pillar-logo.png');
	}
}
.dropzone{
	position: relative;
	width: 100%;
	height: 685px;
	padding: 35px 43px 0;
	&__label{
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #e8e4dc;
		text-align: center;
		cursor: pointer;
		transition: background 0.2s;
		&:before{
			position: absolute;
			top: -6px;
			left: -6px;
			content: '';
			display: block;
			width: 484px;
			height: 664px;
			background: url('../images/png/crop.png') no-repeat center / 100% 100%;
		}
		.dropzone.is-dragover &{
			background-color: lighten(#e8e4dc, 5%);
		}
		.dropzone.is-dropped &{
			display: none;
		}
	}
	&__info{
		position: absolute;
		top: 0;bottom: 0;right: 0;left: 0;
		margin: auto;
		width: 220px;
		height: 150px;
		text-align: center;
		.dropzone.is-dropped &{
			display: none;
		}
		p{}
	}
	&__icon{
		@include sprite($clip);
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 15px;
		transition: transform 0.2s;
		.dropzone__label:hover &{
			transform: scale(1.2);
		}
	}
	&__result{
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s;
		&.img-loaded{
			z-index: 2;
			opacity: 1;
		}
		&.result-shown{
			padding: 35px 43px 0;
		}
	}
	&__rotate-btn,
	&__del-btn,
	&__ok-btn{
		position: absolute;
		right: 7px;
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		// background: rgba(black, 0.4);
		text-align: center;
		visibility: hidden;
		opacity: 0;
		text-decoration: none;
		font-size: 0;
		transition: all 0.2s;
		&:before{
			display: inline-block;
			vertical-align: middle;
			font-family: FontAwesome;
			line-height: 1;
			font-size: 18px;
			transition: all 0.2s;
		}
		&.visible{
			visibility: visible;
			z-index: 2;
			&:hover{
				&:before{
					font-size: 24px;
				}
			}
			.dropzone:hover &{
				opacity: 1;
			}
		}
	}
	&__del-btn{
		top: 7px;
		&:before{
			content: '\f00d';
			color: red
		}
	}
	&__ok-btn{
		top: 44px;
		&:before{
			content: '\f00c';
			color: green;
		}
	}
	&__rotate-btn{
		top: 81px;
		&:before{
			content: '\f01e';
			color: $textColor;
		}
	}
}

.patterns{
	margin-bottom: 15px;
	&__row{
		@extend %clearfix;
		margin-left: -5px;
		margin-right: -5px;
	}
	&__item{
		float: left;
		padding-left: 5px;
		padding-right: 5px;
		width: 50%;
		text-align: center;
		label{cursor: pointer;}
	}
	&__view{
		width: 100%;
		height: 200px;
		background: no-repeat center / 100% 100%;
		margin-bottom: 10px;
		.patterns__item input:checked~&{
			outline: 1px solid;
		}
		&_type{
			&_1{background-image: url('../images/png/pattern-1.jpg');}
			&_2{background-image: url('../images/png/pattern-2.jpg');}
		}
	}
	&__checkbox{
		display: inline-block;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 18px;
			width: 18px;
			margin-top: -3px;
			margin-right: 10px;

			border: 1px solid $textColor;

			color: transparent;
			font-family: FontAwesome;
			text-align: center;
			font-size: 12px;
			line-height: 18px;
			.patterns__item input:checked~&{
				content: '\f00c';
				color: $textColor;
			}
		}
		&:hover{
			&:before{
				content: '\f00c';
				color: rgba($textColor, 0.2);
			}
		}
	}
}
/* .polk */