/* portfolio */
.portfolio{
	&__nav{
		text-align: center;
		padding: 20px 10px;
		white-space: nowrap;
		overflow: auto;
		@media screen and (min-width: 768px){
			padding: 30px 0;
			white-space: normal;
			overflow: visible;
		}
		&-link{
			@include link-clicker;
			display: inline-block;
			color: $textColor;
			font-family: RalewayMedium;
			text-transform: uppercase;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
			&:after{
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 1px;
				height: 18px;
				margin: 0 10px;
				background: $textColor;
			}
			&:last-child{
				&:after{display: none;}
			}
			&:active{
				&:after{
					position: relative;
					bottom: 1px;
				}
			}
			&.active{
				color: #f4a33c;
				&:hover{
					text-decoration: none;
					cursor: default;
				}
			}
		}
	}
	&__list{
		margin: -17px 0;
		font-size: 0;
		@media screen and (min-width: 960px){
			padding: 0 15px;
		}
	}
	&__item{
		display: inline-block;
		vertical-align: top;
		list-style: none;
		margin: 17px 0;
		padding: 0 10px;
		width: 100%;
		max-height: 260px;
		overflow: hidden;
		font-size: 15px;
		@media screen and (min-width: 768px){
			width: 50%;
			padding: 0 15px;
		}
		@media screen and (min-width: 960px){
			max-height: 215px;
			width: 25%;
			padding: 0 10px;
		}
		a{
			display: block;
			position: relative;
			@extend %white-hover;
			&:after{
				content: '\f00e';
				font-size: 24px;
			}
		}
		img{
			display: block;
			height: auto;
			margin: 0 auto;
			@media screen and (min-width: 768px){
				width: 100%;
			}
			@media screen and (min-width: 960px){
				max-width: 100%;
				width: auto;
			}
		}
	}
}
/* .portfolio */