include _mixins
- var viewport = 'width=device-width, initial-scale=1';
block vars
doctype html
html.no-js
	head
		meta(charset='utf-8')
		title Gold Print - Цифровая фотопечать
		meta(name='description' content='')
		meta(name='viewport' content=viewport)
		link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
		link(rel="icon" href="favicon.ico" type="image/x-icon")

		link(rel='stylesheet', href='plugins/owl/assets/owl.carousel.css')
		link(rel='stylesheet', href='plugins/owl/assets/animate.css')
		link(rel='stylesheet', href='plugins/fancyBox/source/jquery.fancybox.css')
		link(rel='stylesheet', href='plugins/Croppie/croppie.css')
		link(rel='stylesheet', href='styles/style.css')
		block style
		block script
	body
		#svgIcons
		.wrap-site.t-bg
			include blocks/_header

			block top-banner

			main(block="main")
				block content

			include blocks/_footer

		script(src="plugins/jquery/dist/jquery.min.js")
		script(src="scripts/delete-me.js")
		script(src="plugins/fancyBox/source/jquery.fancybox.pack.js")
		script(src="plugins/owl/owl.carousel.min.js")
		script(src="plugins/image-scale.min.js")
		script(src="plugins/Croppie/croppie.min.js")
		script(src="scripts/icons.js")
		script(src="scripts/main.js")
		script(src="scripts/test.js")

		block scripts