mixin random(num1, num2)
	- var num = Math.floor(Math.random() * (num1 - num2) + num2)
	span=num

mixin counter
	div(block="counter", class!=attributes.class)
		button.counter__btn(elem="minus") -
		input(elem="input", type="text", value="1", data-maxval="15")
		button.counter__btn(elem="plus") +

mixin br(count)
	div(style="height:"+count+"px;")

mixin breadcrumbs
	div(block="breadcrumbs")
		a(elem="link", href="index.html", title="ссылка") Главная
		a(elem="link", href="#", title="ссылка") Cтраница
		a(elem="link", href="#", title="ссылка") Текущая страница
		a(elem="back-link", href="#", title="ссылка") Назад

mixin paginator(className)
	nav(class=className)
		ul(block="paginator")

			li(elem="item")
				a(elem="link", href="#") 1

			li(elem="item")
				a.active(elem="link", href="#") 2

			li(elem="item")
				a(elem="link", href="#") 3

			li(elem="item")
				a(elem="link", href="#") 4

			li(elem="item")
				span.dots(elem="link") ...

			li(elem="item")
				a(elem="link", href="#") 37

mixin svgIcon(className, title, id)
	svg(class=className,role="img")
		title=title
		use.svg-i(xlink:href=id)

mixin checkbox(labelText, type)
	if type
		label(class!=attributes.class)
			input.hidden(type="radio", name="name")
			span=labelText
	else
		label(class!=attributes.class)
			input.hidden(type="checkbox")
			span=labelText