extends _layout

block top-banner
	div(block="map")
		div#map-init(elem="layout")

block content
	div(block="contacts")
		.clearfix(elem="row")
			.col-md-6
				div(elem="title") ООО «GoldPrint»
				div(elem="adress")
					p Юр. адрес: 115172, г. Волгоград, ул. Гвоздева, д. 7/4, стр. 1
					p Почтовый адрес: РФ, 117587, г. Волгоград, ул. Невская, д. 2 ТРЦ «Акварель»
					p ОГРН: 1127746337124,ИНН: 7705984853, КПП: 770501001
			.col-md-6
				form(action="")
					div(elem="title") Форма обратной связи
					.row
						.col-sm-6
							input.input-style-1(elem="input", type="text", name="name", autocomplete="name", placeholder="Имя:",required="")
							input.input-style-1(elem="input", type="text", name="email",  autocomplete="email", placeholdere="E-mail:",required="")
						.col-sm-6(elem="message")
							textarea.input-style-1(name="message", placeholder="Сообщение:",required="")
							button(elem="form-submit")
		.clearfix(elem="row")
			-for(i=0;i<4;i++)
				.col-sm-6.col-md-3(elem="item")
					div(elem="title") ТРК «Акварель»
					div.adr(elem="item-descr") 400105 г.Волгоград. Ул. К.Цеткин, дом 5, офис 149
					div.mail(elem="item-descr") goldprint34@print.ru
					div.tel(elem="item-descr") +7 (8442) 50-45-82


block scripts
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqq3ySORGXYMhOGEBocFRZu0f1RqD7NfQ&signed_in=true&callback=initMap", async, defer)