mixin service(num, name)
	div(block="s-item")
		a(elem="view", href="service-description.html")
			div(elem="img-wrap")
				img(src="images/media/portfolio-"+num+".jpg", alt="")
			div(elem="title")=name
		div.invis(elem="info")


extends _layout
block content
	div(block="services")
		-for(j=0;j<3;j++)
			-for(i=0;i<4;i++)
				+service((i+1), 'Ксерокопия')


