extends _layout

block top-banner
	div.top-banner(style="background-image: url('images/media/top-banner.jpg');")

block content
	.container-fluid
		div.row(block="print-info")
			div(elem="step")
				span(elem="num") 1
				span(elem="text")
					| Выберите нужный
					br
					| раздел печати
			div(elem="step")
				span(elem="num") 2
				span(elem="text")
					| Загрузите фотографии
					br
					| в калькулятор
			div(elem="step")
				span(elem="num") 3
				span(elem="text")
					| Оплатите ваш
					br
					| заказ
			div(elem="step")
				span(elem="num") 4
				span(elem="text")
					| Заберите заказ в
					br
					| любом пункте выдачи
		div(block="preview-text")
			.h1(elem="title") Не нужны слова, чтобы рассказать историю
			div(elem="text") С принт-сервисом «GoldPRINT» вы всегда сможете заказать печатную продукцию  (индивидуальные фотокниги, календари, открытки, постеры, фотокарточки в подарочных упаковках и прочие милые штуки  из ваших фотографий), загрузив их online, с компьютера, через Facebook или Instagram.  Для профессионалов и любителей: для себя, для друзей и родствеников.
		div(block="sections")
			-for(i=0;i<4;i++)
				div(elem="item")
					a(elem="view", href="#")
						img(src="images/media/sections-"+(i+1)+".jpg", alt="")
					dl(elem="dl")
						dt(elem="title")
							a(href="#") Сувениры
						dd(elem="descr") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris.

		div(block="adds")
			div.slider-1(elem="slider")
				-for(i=0;i<2;i++)
					div(elem="slide")
						div(elem="info")
							span(elem="icon", mod="img:phone")
							dl(elem="dl")
								dt(elem="title") Телефон:
								dd(elem="descr") +7 (8442) 50-45-82

						div(elem="info")
							span(elem="icon", mod="img:adr")
							dl(elem="dl")
								dt(elem="title") Адрес:
								dd(elem="descr")
									| 400105 г.Волгоград. Ул. К.Цеткин,
									br
									| дом 5, офис 149

						div(elem="info")
							span(elem="icon", mod="img:mail")
							dl(elem="dl")
								dt(elem="title") E-mail:
								dd(elem="descr") goldprint34@print.ru

					div(elem="slide")
						div(elem="info")
							span(elem="icon", mod="img:phone")
							dl(elem="dl")
								dt(elem="title") Телефон:
								dd(elem="descr") +7 (8442) 50-45-82

						div(elem="info")
							span(elem="icon", mod="img:adr")
							dl(elem="dl")
								dt(elem="title") Адрес:
								dd(elem="descr")
									| г. Волгоград, Советский р-он,
									br
									| пр. Университетский, 105
									br
									| Гипермаркет "Лента",
									br
									| печатный салон "GoldPrint"

						div(elem="info")
							span(elem="icon", mod="img:mail")
							dl(elem="dl")
								dt(elem="title") E-mail:
								dd(elem="descr") goldprint34@print.ru


		div(block="photos")
			div.slider-2(elem="slider")
				-for(j=0;j<2;j++)
					each item in locals.photoSlider
						div(elem="item")
							a(href="portfolio.html")
								img.scale(src=item, data-align="center", data-scale="best-fill", alt="")
