extends _layout

block vars
	- var viewport = 'width=1280px';
	- var href = '#null'

block content
	div(block="photoprint")
		form.clearfix(action="")
			div.sidebar(elem="sidebar")
				div.note(block="sidebar" elem="section")
					div(elem="section-title")
						i(elem="icon-note")
						| Важная информация
					div(elem="section-content")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et assumenda porro cum perspiciatis veniam eaque, expedita molestias repellendus, nostrum! Facere soluta necessitatibus minima corporis, explicabo, quam odio dolor fuga deleniti!
				div(block="sidebar" elem="section")
					div(elem="section-title")
						i(elem="icon-cog")
						| Настройки
					div(elem="section-content")
						p Выберите шаблон:
						div(block="patterns")
							div(elem="row")
								mixin pattern-item(num)
									div(elem="item")
										label
											input.hidden(type="radio" name="pattern" checked!=attributes.checked)
											div(elem="view", mod="type:"+num)
											span(elem="checkbox")=num
								+pattern-item('1')(checked="")
								+pattern-item('2')
						input(elem="input" type="text" name="name" placeholder="ФИО")
						input(elem="input" type="text" name="rank" placeholder="Воинское звание")
						+checkbox('Добавить поле «годы жизни»')(class="checkbox sidebar__checkbox")
						input(elem="input" type="text" name="years" placeholder="Годы жизни")
						input#resultImg.hidden(type="text" role="hold-result-img")
						button(elem="btn") Отправить в заказ
						.row
							.col-xs-6
								button(elem="btn" type="reset") Очистить
							.col-xs-6
								a(elem="btn" href=href) Скрыть подсказки

			div(elem="content")
				div(block="pillar" mod="type:photo")
					div(block="dropzone")
						input#fileInput.hidden(type="file" name="files[]")
						label(elem="label" for="fileInput" title="click for download")
							div(elem="info")
								p Поле для портрета
								p 245х335
								span(elem="icon")
								p Загрузите фотографию
						div#result(elem="result")
						a#delBtn(elem="del-btn" href="#") Удалить
						a#okBtn(elem="ok-btn" href="#") Подтвердить
						a#rotateBtn(elem="rotate-btn" href="#" data-deg="90") Повернуть
					div(elem="text")
						div(elem="name") Фамилия Имя Отчество
						div(elem="rank") воинское звание
						div(elem="years") годы жизни
					div(elem="logo")
				div(block="pillar" mod="type:text")
