extends _layout

block top-banner
	div.top-banner(style="background-image: url('images/media/top-banner.jpg');")

block content

	div(block="portfolio")
		nav(elem="nav")
			a(elem="nav-link", href="#") Фотопечать
			a.active(elem="nav-link", href="#") Печать сувениров
			a(elem="nav-link", href="#") Полиграфия
			a(elem="nav-link", href="#") Багетная мастерская
		ul.clearfix(elem="list")
			-for(j=0;j<2;j++)
				-for(i=0;i<5;i++)
					li(elem="item")
						a.fancybox(href="images/media/portfolio-"+(i+1)+".jpg", title="Image "+(i+1))
							img(src="images/media/portfolio-"+(i+1)+".jpg", alt="")
	+paginator