div(block="s-item", elem="info-inner")
	a(elem="info-close", href="#")
	div(elem="col")
		table(elem="table")
			tr
				td Количество сторон
				td Формат А4
				td Формат А3
			-for(z=0;z<3;z++)
				tr
					td Печать ч/б дносторонная
					td 3 руб.
					td 8 руб.
	div(elem="col")
		div(elem="descr") Нужно срочно напечатать дипломную, курсовую или реферат? А может быть рисунок в школу, плакат в детский сад, объявление, накладную или иные документы?  Приезжайте, напечатаем  за пару минут.  Мы делаем цветные и черно –белые распечатки, стандартного формата А4, так и большего формата  А3, на офисной, мелованной, а также различных дизайнерских бумагах и картонах. Нужно срочно напечатать дипломную, курсовую или реферат? А может быть рисунок в школу, плакат в детский сад, объявление, накладную или иные документы?  Приезжайте, напечатаем  за пару минут.  Мы делаем цветные и черно –белые распечатки, стандартного формата А4, так и большего формата  А3, на офисной, мелованной, а также различных дизайнерских бумагах и картонах.