/* helpers */
.text{
	&-left{ text-align: left; }
	&-right{ text-align: right; }
	&-center{ text-align: center; }
}
.dib{display: inline-block;}

.t-bg{
	background-color: rgba(white, 0.7);
}

.checkbox{
	@include checkbox($textColor);
}

%gradient{
	background: #fe9004;
	background: -moz-linear-gradient(left,  #fe9004 0%, #f4a33c 100%);
	background: -webkit-linear-gradient(left,  #fe9004 0%,#f4a33c 100%);
	background: linear-gradient(to right,  #fe9004 0%,#f4a33c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe9004', endColorstr='#f4a33c',GradientType=1 );
}
%white-hover{
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(white, 0.3);
		opacity: 0;
		transition: opacity 0.2s;
	}
	&:after{
		font-family: FontAwesome;
		color: black;
		position: absolute;
		height: 30px;
		width: 30px;
		text-align: center;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;
		transform: scale(0);
		transition: opacity 0.2s, transform 0.2s;
	}
	&:hover{
		&:before{
			opacity: 1;
		}
		&:after{
			opacity: 1;
			transform: scale(1);
		}
	}
}
%pointer{
	border-top: 2px solid #df6b0b;
	&:before, &:after{
		display: block;
		content: '';
		position: absolute;
		top: -10px;
	}
	&:before{
		margin-top: -2px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 12px 8px;
		border-color: transparent transparent #df6b0b transparent;
	}
	&:after{
		margin-top: 1px;
		margin-right: 3px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 5px 9px 5px;
		border-color: transparent transparent white transparent;
	}
}
%clearfix{
	@include clearfix;
}
/* helpers */