@mixin user-select($none){
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin btn-clicker($color) {
	&:hover{ background-color: lighten($color, 5%); }
	&:active{ background-color: darken($color, 5%); }
}

@mixin link-clicker() {
	&:active{
		position: relative;
		top: 1px;
		cursor: pointer;
	}
}

@mixin col-width($grid-columns) {
	width: percentage(($grid-columns / 12));
}

@mixin make-col($gutter: $grid-gutter-width) {
	float: left;
	min-height: 1px;
	padding-left: ($gutter / 2);
	padding-right: ($gutter / 2);
}

@mixin make-dib-col($gutter: $grid-gutter-width) {
	display: inline-block;
	vertical-align: top;
	min-height: 1px;
	padding-left: ($gutter / 2);
	padding-right: ($gutter / 2);
}

@mixin checkbox($color: #c6c6c6){
	$checkColor: $color;
	display: inline-block;
	padding: 5px 0;
	cursor: pointer;
	input{
		&:checked{
			& + span{
				&:before{
					content: '\f00c';
					color: $checkColor;
				}
			}
		}
	}
	span{
		color: inherit;
		font-size: 14px;
		&:before{
			content: '';
			display: inline-block;
			vertical-align: middle;
			height: 18px;
			width: 18px;
			margin-top: -3px;
			margin-right: 10px;

			border: 1px solid $checkColor;

			color: transparent;
			font-family: FontAwesome;
			text-align: center;
			font-size: 12px;
			line-height: 18px;
		}
		&:hover{
			&:before{
				content: '\f00c';
				color: rgba($checkColor, 0.2);
			}
		}
	}
}

@mixin verticalize(){
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%; width: .1px;
	}
}