/* placeholders */
.paginator{
	margin: 35px 0;
	text-align: center;
	&__item{
		list-style: none;
		display: inline-block;
		vertical-align: middle;
	}
	&__link{
		@include link-clicker;
		display: block;
		padding: 5px 3px;
		color: $textColor;
		font-size: 18px;
		text-decoration: none;
		font-family: RalewayMedium;
		&:hover{}
		&.active{
			color: #fe9004;
		}
		&.dots{}
		&.disabled{}
	}
}
.top-banner{
	display: none;
	@media screen and (min-width: 768px){
		display: block;
		height: 400px;
		background-position: 50% -80px;
	}
}
.input-style-1{
	padding: 4px 6px;
	border: 1px solid  #fe9004;
	&:focus{
		box-shadow: 0 0 5px #D39544;
	}
}
/* .placeholders */