@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.4.0');
	src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
	url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
	url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.4.0') format('woff'),
	url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
	url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansItalic';
	src: url('../fonts/PTSans-Italic.eot');
	src: url('../fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSans-Italic.woff2') format('woff2'),
	url('../fonts/PTSans-Italic.woff') format('woff'),
	url('../fonts/PTSans-Italic.svg#PTSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansBoldItalic';
	src: url('../fonts/PTSans-BoldItalic.eot');
	src: url('../fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/PTSans-BoldItalic.woff2') format('woff2'),
	url('../fonts/PTSans-BoldItalic.woff') format('woff'),
	url('../fonts/PTSans-BoldItalic.svg#PTSansBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Regular.woff2') format('woff2'),
	url('../fonts/Raleway-Regular.woff') format('woff'),
	url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayLight';
	src: url('../fonts/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Light.woff2') format('woff2'),
	url('../fonts/Raleway-Light.woff') format('woff'),
	url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayMedium';
	src: url('../fonts/Raleway-Medium.eot');
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Medium.woff2') format('woff2'),
	url('../fonts/Raleway-Medium.woff') format('woff'),
	url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RalewayBold';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Bold.woff2') format('woff2'),
	url('../fonts/Raleway-Bold.woff') format('woff'),
	url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	height: 100%;
}
body{
	color: $textColor;
	font-size: 14px;
	font-family: RalewayRegular;
	height: 100%;
	@media screen and (min-width: 768px){
		font-size: 16px;
	}
	&.modal-opened{
		height: auto;
	}
}

input:focus,textarea:focus, button:focus {
	outline: none;
}

ins{ text-decoration: none; }

ul,ol,li,dl,dt,dd,p{
	margin: 0;
	padding: 0;
	font-weight: 100;
}

figure, figcaption{
	margin: 0;
	padding: 0;
}
.slick{
	*{
		&:focus, &:active{ outline: none; }
	}
	&-slider{
		margin: 0;
	}
	&-slide{
		outline: none;
		a { &:focus{ outline: none; } }
	}
	&-arrow{z-index: 1;}
	&-prev{ left: 0; }
	&-next{ right: 0; }
}
.fancybox{
	&-lock{
		overflow: visible !important;
	}
	&-skin{
		border-radius: 0;
		box-shadow: none !important;
	}
	&-title{
		&-float{
			&-wrap{
				margin-bottom: -28px;
				right: auto;
				.child{
					border-radius: 0;
					background: none;
					margin: 0;
					padding: 0;
					text-shadow: none;
					color: $textColor;
					font-size: 16px;
					font-weight: normal;
					font-family: RalewayMedium;
				}
			}
		}
	}
	&-nav{
		@media screen and (min-width: 768px){
			width: 60%;
		}
		span{
			visibility: visible;
			height: 80px;
			width: 20px;
			margin-top: -40px;
			background-image: url('../images/png/image-nav.png');
			background-repeat: no-repeat;
			background-size: initial;
			@media screen and (min-width: 768px){
				opacity: 0.4;
			}
		}
		&:hover{
			span{
				opacity: 1;
			}
		}
	}
	&-prev{
		@media screen and (min-width: 768px){
			left: -60px;
		}
		span{
			background-position: 0 0;
		}
	}
	&-next{
		@media screen and (min-width: 768px){
			right: -60px;
		}
		span{
			background-position: -104px 0;
		}
	}
	&-close{
		top: -36px;
		right: 0;
		background: url('../images/png/image-nav.png') no-repeat -42px 6px;
		background-size: initial;
		@media screen and (min-width: 768px){
			opacity: 0.4;
			right: -36px;
		}
		&:hover{opacity: 1;}
	}
}