%sprite-pseudo{
    content: '';
    display: inline-block;
    vertical-align: middle;
}

%sprite {
    background-image: url('../images/png/spritesheet.png');
    background-repeat: no-repeat;
}

%sprite-arrow-l {
    width: 7px;
    height: 32px;
    background-position: -5px -5px;
}

%sprite-arrow-r {
    width: 7px;
    height: 32px;
    background-position: -5px -47px;
}

%sprite-arrows {
    width: 41px;
    height: 100px;
    background-position: -5px -89px;
}

%sprite-cart-i {
    width: 22px;
    height: 23px;
    background-position: -5px -199px;
}

%sprite-img-i {
    width: 53px;
    height: 53px;
    background-position: -5px -232px;
}

%sprite-login-i {
    width: 23px;
    height: 24px;
    background-position: -5px -295px;
}

%sprite-mail-i {
    width: 41px;
    height: 27px;
    background-position: -5px -329px;
}

%sprite-phone-i {
    width: 37px;
    height: 31px;
    background-position: -5px -366px;
}

%sprite-point-i {
    width: 26px;
    height: 36px;
    background-position: -5px -407px;
}




%sprite-soc {
    background-image: url('../images/png/soc-sprite.png');
    background-repeat: no-repeat;
}

%sprite-soc-1 {
    width: 33px;
    height: 33px;
    background-position: -5px -5px;
}

%sprite-soc-2 {
    width: 33px;
    height: 33px;
    background-position: -48px -5px;
}

%sprite-soc-3 {
    width: 33px;
    height: 33px;
    background-position: -91px -5px;
}

%sprite-soc-4 {
    width: 33px;
    height: 33px;
    background-position: -134px -5px;
}