footer(block="footer")
	div.container-fluid(elem="inner-wrap")
		.row
			.col-md-9.col-md-push-3.col-lg-10.col-lg-push-2
				div(block="copyright") ©2010-2015 GoldPRINT
				div(elem="info-text")
					p Обращаем ваше внимание на то, что данный интернет-сайт носит информационный характер и не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефону: 50-45-81
			.col-md-3.col-md-pull-9.col-lg-2.col-lg-pull-10
				div(block="social")
					a(elem="link", mod="i:fb", href="#")
					a(elem="link", mod="i:tw", href="#")
					a(elem="link", mod="i:vk", href="#")
					a(elem="link", mod="i:ok", href="#")