header(block="header")
	div.container-fluid(elem="row")
		div(block="logo")
			a(href="index.html", title="На главную")
				img(src="images/png/logo.png", alt="logo")

		a.nav-trigger(href="#")

		div(block="top-widget")
			a(elem="login", href="#")
			a(elem="cart", href="#")
		div(block="login-widget")
			form(action="")
				div(elem="title") Личный кабинет
				label.login(elem="label")
					input(elem="input", type="text", name="login", placeholder="Логин", required="")
				label.pass(elem="label")
					input(elem="input", type="password", name="password", placeholder="Пароль", required="")
				button(elem="btn") Войти
				a(elem="reg", href="#") Регистрация

		nav(block="top-nav")
			ul(elem="list")
				each item in locals.topNav
					li(elem="item")
						a(href="#")=item
